/*楼盘户型*/
body{background: #f5f7fa;}


.y_lphx_main{ padding: 20px 0;}
.y_lphx_title{ padding: 0 20px;}
.y_lphx_title .y_left h2{font-size: 24px; color: #333;font-weight: normal;}
.y_lphx_title .y_right{padding:15px 0;}
.y_lphx_title .y_right ul li{display:inline-block;}
.y_lphx_title .y_right ul li + li {margin-left:30px;}
.y_lphx_title .y_right ul li a{display: block; font-size:16px; color:#5D5D5D; padding-bottom: 5px;}
.y_lphx_title .y_right ul li.on a{border-bottom: 5px solid #FF5849;}
.y_lphx_title .y_right ul li a:hover{border-bottom: 5px solid #FF5849;}
.y_lphx_list{ margin-top: 10px;}
/*.y_lphx_list ul{ position: relative; left: 8px; display: none;}*/
.y_lphx_list ul li{ width: 276px; height: auto; background: #F5F7FA; float: left; margin: 10px;}
.y_lphx_list ul li a{ display: block;}
.y_lphx_list ul li a .y_tu{ width: 274px; height: 224px; position: relative;}
.y_lphx_list ul li a .y_tu p.img{ width: 100%; height: 100%;}
.y_lphx_list ul li a .y_tu p.img img{width: 100%; height: 100%;}
.y_lphx_list ul li a .y_tu p.huxin{ position: absolute; right: 0px; top: 0px; background:rgba(0,0,0,0.7);font-size: 14px; color: #fff; padding: 6px 10px;}
.y_lphx_list ul li a .y_text{ text-align: center; padding: 15px 0;}
.y_lphx_list ul li a .y_text p.hujs{font-size: 17px; color: #474444;font-weight: 600;}
.y_lphx_list ul li a .y_text p.hujm{font-size: 14px; color: #756262; margin-top: 10px;}
.y_lphx_bottom{margin-top: 20px; position: relative; right: 20px;}
.y_lphx_bottom .y_lphx_bottom_l{ font-size: 12px; color: #333;}




/*推荐楼盘*/
.y_recom_ul{margin:0 20px; padding: 20px 0;}
.y_recom_ul .y_recom_ul_list{ margin-top: 10px;}
.y_recom_ul .y_recom_ul_list p.y_tit{font-size: 14px; color: #333;}
.y_recom_ul .y_recom_ul_list ul{ width: 1080px; margin-left: 5px;}
.y_recom_ul .y_recom_ul_list ul li{ float: left; margin-right:30px; margin-bottom: 10px;}
.y_recom_ul .y_recom_ul_list ul li a{ display: block; font-size: 14px;color: #666;}





