@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

.fang_cms-bg-gray {
    background: #eee;
}
.fang_cms-bg-white {
    background: #fff
}
.fang_cms-bg-ashen {
    background: #f8f8f8;
}
.no-height {
    height: auto !important;
}
.fang_cms-fl {
    float: left !important;
    display: inline-block;
}
.fang_cms-fr {
    float: right !important;
    display: inline-block;
}
.fang_cms-clearf {
    display: block;
    clear: both;
}
.fang_cms-clearf:after {
    content: "";
    font-size: 0;
    display: block;
    width: 0;
    font-size: 0;
    clear: both;
}
.hide {
    display: none;
}
.fang_cms-lg-hidden {
    display: none;
}
li {
    list-style: none;
}
a,
a:link,
a:hover {
    text-decoration: none;
}
i,
em,
address {
    font-style: normal;
}
input:focus,
textarea:focus,
button:focus {
    outline: none;
}
input[type=text] ,
textarea {
    font-family: "Microsoft YaHei","Heiti SC","Droidsansfallback","Helvetica","monospace", "sans-serif", "serif";
}
input,
button,
img {
    border: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
}  /*  去除chrome浏览器的input框自动填充背景色  */
textarea {
    resize: none;
}
/* ***配套地图*/
li {
    list-style: outside none none;
}
.fang_cms-col-lg-22 {
    width: 1160px;
}
.assort-map {
    width: 100%;
    position: relative;
}
.assort-map .map-mark {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.assort-distance {
    position: absolute;
    right: 123px;
    bottom: 0px;
    z-index: 9;
    width: 260px;
    padding: 20px;
    border: 1px solid #e7e4e4;
    background: #fff;
	height: 460px;
}
.assort-distance.fixed-side {
    right: 125px;
    bottom: 40%;
    width: 40px;
    padding: 0;
    border: 0;
	height:130px;
}
.assort-distance .close-assort {
    width: 40px;
    padding: 10px 0;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    color: #333;
}
.assort-distance h4 {
    padding-bottom: 10px;
    font-size: 16px;
    color: #666;
    font-weight: normal;
	margin-bottom:0px;
}
.assort-distance h4 i {
    margin-left: 5px;
}
.assort-distance h4 span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 12px;
    vertical-align: -5px;
}
.assort-distance.school h4 span {
    background: url(../image/map-icon.png) no-repeat 1px 6px #06B676;
}
.assort-distance.school ul li .digit {
    color: #06b676;
}
.assort-distance.bank h4 span {
    background: url(../image/map-icon.png) no-repeat 1px -38px #9C3CA7;
}
.assort-distance.bank ul li .digit {
    color: #9C3CA7;
}
.assort-distance.hospital h4 span {
    background: url(../image/map-icon.png) no-repeat 1px -16px #FF3238;
}
.assort-distance.hospital ul li .digit {
    color: #FF3238;
}
.assort-distance.repast h4 span {
    background: url(../image/map-icon.png) no-repeat left -60px #EAAE2A;
}
.assort-distance.repast ul li .digit {
    color: #EAAE2A;
}
.assort-distance.shopping h4 span {
    background: url(../image/map-icon.png) no-repeat 2px -83px #581EEF;
}
.assort-distance.shopping ul li .digit {
    color: #581EEF;
}
.assort-distance.bus h4 span {
    background: url(../image/map-icon.png) no-repeat 1px -104px #914F2D;
}
.assort-distance.bus ul li .digit {
    color: #914F2D;
}
.assort-distance.subway h4 span {
    background: url(../image/map-icon.png) no-repeat 1px -126px #F61686;
}
.assort-distance.subway ul li .digit {
    color: #F61686;
}
.assort-distance.park h4 span {
    background: url(../image/map-icon.png) no-repeat 1px -147px #BEBC36;
}
.assort-distance.park ul li .digit {
    color: #BEBC36;
}
.assort-distance.airport h4 span {
    background: url(../image/map-icon.png) no-repeat left -166px #0889F6;
}
.assort-distance.airport ul li .digit {
    color: #0889F6;
}
.assort-distance.refuel h4 span {
    background: url(../image/map-icon.png) no-repeat left -186px #25C0CD;
}
.assort-distance.refuel ul li .digit {
    color: #25C0CD;
}
.assort-distance .close {
    position: absolute;
    right: 20px;
    top: 22px;
    display: block;
    width: 11px;
    height: 11px;
    background: url(../image/map-icon.png) no-repeat 0 -217px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.assort-distance .close:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}
.assort-distance ul {
   /* overflow-y: scroll;*/
    overflow-y: auto;
    max-height: 430px;
}
.assort-distance ul li {
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    overflow: hidden;
}
.assort-distance ul li .text {
    display: inline-block;
    width: 170px;
    color: #666;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.assort-distance ul li .distance {
    float: right;
    font-size: 14px;
    color: #999;
}
.map-label {
    position: absolute;
    right: 0;
    bottom: 40px;
    width: 125px;
    height: 460px;
    background: rgba(255,255,255,0.85);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#85FFFFFF', endColorstr='#85FFFFFF');
}
.map-label ul {
    height: 52px;
}
.mLabel-li {
    float: left;
    padding: 0 25px;
    height: 50px;
    position: relative;
}
.mLabel-li a.icon-text {
    position: relative;
    z-index: 1;
    display: block;
    padding-left: 27px;
    height: 52px;
    line-height: 52px;
    font-size: 15px;
    color: #666;
}
.mLabel-li a.icon-text span {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 15px;
    display: block;
    width: 23px;
    height: 23px;
    border-radius: 23px;
}
.mLabel-li.label-one a.icon-text span {
    background: url(../image/map-icon.png) no-repeat left 5px #06B676;
}
.mLabel-li.label-two a.icon-text span {
    background: url(../image/map-icon.png) no-repeat left -18px #FF3238;
}
.mLabel-li.label-three a.icon-text span {
    background: url(../image/map-icon.png) no-repeat left -39px #9C3CA7;
}
.mLabel-li.label-four a.icon-text span {
    background: url(../image/map-icon.png) no-repeat left -60px #EAAE2A;
}
.mLabel-li.label-five a.icon-text span {
    background: url(../image/map-icon.png) no-repeat left -83px #581EEF;
}
.mLabel-li.label-six a.icon-text span {
    background: url(../image/map-icon.png) no-repeat left -105px #914F2D;
}
.mLabel-li.label-seven a.icon-text span {
    background: url(../image/map-icon.png) no-repeat left -127px #F61686;
}
.mLabel-li.label-eight a.icon-text span {
    background: url(../image/map-icon.png) no-repeat left -147px #BEBC36;
}
.mLabel-li.label-nine a.icon-text span {
    background: url(../image/map-icon.png) no-repeat left -167px #0889F6;
}
.mLabel-li.label-ten a.icon-text span {
    background: url(../image/map-icon.png) no-repeat left -186px #25C0CD;
}
.mLabel-more a.text {
    display: block;
    height: 52px;
    line-height: 52px;
    font-size: 14px;
    color: #666;
}
.mLabel-more a.text span {
    display: inline-block;
    width: 7px;
    height: 5px;
    vertical-align: 2px;
    margin-left: 5px;
    background: url(../images/nh-operate.png) no-repeat -67px -40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.mLabel-more.active a.text {
    color: #da5c4f;
}
.mLabel-more.active a.text span {
    background: url(../images/nh-operate.png) no-repeat -67px -50px;
}
.mLabel-more ul {
    display: none;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 52px;
    width: 120px;
    background: rgba(255,255,255,0.85);
    background: #fff \9;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#85FFFFFF', endColorstr='#85FFFFFF');
    border: 1px solid #ddd;
    border-top: 0;
    height: auto;
}
.mLabel-more ul li {
    margin: 0 10px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.mLabel-more ul li a {
    position: relative;
    z-index: 1;
    display: block;
    padding-left:27px;
    font-size: 14px;
    color: #666;
}
.mLabel-more ul .label-eight a span {
    background:url(../image/map-icon.png) no-repeat left -147px #BEBC36;
}
.mLabel-more ul .label-nine a span {
    background:url(../image/map-icon.png) no-repeat left -167px #0889F6;
}
.mLabel-more ul .label-ten a span {
    background:url(../image/map-icon.png) no-repeat left -186px #25C0CD;
}
.mLabel-more ul li a span {
    position: absolute;
    z-index: -1;
    left: 0;
    top: -1px;
    display: inline-block;
    width: 22px;
    height:22px;
    border-radius: 22px;
}