.header{position:relative;height:1.37rem;line-height:1.1rem;border-bottom:1px solid #f2f2f2;overflow:hidden}


.header .go-back{position:absolute;left:.32rem;width:.32rem}


.city-change{text-align:center;font-size:.4rem;overflow:hidden}


.city-change a{color:#333;padding-right:0;overflow:hidden}


.city-change a .text{display:inline-block}


.hs-list,.hs-list .item {


    overflow: hidden


}





.center {


    padding: 0 .32rem 1.5rem


}





.help-seek .hs-title {


    margin: .53rem 0


}





.help-seek .hs-title p {


    font-weight: 700;


    font-size: .45333333rem;


    line-height: .6rem;


    color: #666


}





.help-seek .hs-introduce {


    margin-bottom: 1rem;


    clear: both


}





.help-seek .hs-introduce p {


    font-size: .32rem;


    color: #666;


    line-height: .53333333rem


}





.hs-list .item {


    border-bottom: .5px solid #e6e6ee;


    margin-bottom: .53333333rem


}





.hs-list .item .item-left {


    float: left


}





.hs-list .item .item-left img {


    display: block;


    width: 2.66666667rem;


    height: 3.33333333rem


}





.hs-list .item .item-text {


    float: right;


    width: 6.49333333rem;


    font-size: .32rem


}





.hs-list .item .item-text .it-name .name {


    font-size: .4rem


}





.hs-list .item .item-text .it-name a {


    float: right;


    display: block;


    width: 1.97333333rem;


    height: .6rem;


    line-height: .64rem;


    text-align: center;


    font-size: .293rem;


    color: #48b3e2;


    border: 1px solid #5eBce5;


    border-radius: 2px;


    text-decoration: none


}








.hs-list .item .item-text .label {


    margin-top: .15rem


}





.hs-list .item .item-text .introduction span,.hs-list .item .item-text .merit,.hs-list .item .item-text .serve {


    color: #999


}





.hs-list .item .item-text .introduction p,.hs-list .item .item-text .label,.hs-list .item .item-text .merit span {


    color: #666


}





.hs-list .item .item-text .serve {


    margin: .15rem 0


}





.hs-list .item .item-text .serve span {


    color: #ff6d6f


}





.hs-list .item .item-text .introduction {


    margin-bottom: .4rem;


    margin-top: .3rem;


    display: -webkit-box;


    -webkit-box-orient: vertical;


    -webkit-line-clamp: 2;


    overflow: hidden


}





.hs-list .item .item-text .detail-more {


    display: block;


    max-height: none


}





.hs-list .item .item-text .introduction p {


    font-size: .26rem;


    line-height: .4rem


}





.hs-list .item .show-more {


    text-align: center;


    margin-bottom: .4rem;


    cursor: pointer


}





.hs-list .show-more-display .ico-showmore {


    transform: rotate(180deg)


}





.hs-phone {


    width: 8rem;


    margin: 0 auto


}





input::-webkit-input-placeholder {


    color: #bbb


}





.hs-phone .tr-phone {


    width: 100%;


    margin-bottom: .13rem;


    clear: both


}





.hs-phone .tips-info {


    color: #f35044;


    font-size: .24rem


}





.change-show {


    max-height: none!important;


    height: auto!important;


    white-space: normal!important;


    display: block!important


}





.show-more-open .ico-showmore {


    transform: rotate(180deg);


    -ms-transform: rotate(180deg);


    -moz-transform: rotate(180deg);


    -webkit-transform: rotate(180deg);


    -o-transform: rotate(180deg)


}





.ico-showmore {


    transition: all .2s linear;


    -moz-transition: all .2s linear;


    -webkit-transition: all .2s linear;


    -o-transition: all .2s linear;


    transform-origin: 50% 50%;


    -ms-transform-origin: 50% 50%;


    -moz-transform-origin: 50% 50%;


    -o-transform-origin: 50% 50%


}





.hp-three .center {


    padding-bottom: 1.12rem


}





.row .box-img {


    width: 100%;


    height: auto;


    box-sizing: border-box


}





.row .box-img img {


    display: block;


    width: 100%;


    height: auto


}





.box-con {


    width: 7.78rem;


    margin: 0 auto


}





.hs-phone .btn,.hs-phone .input-area .ipt {


    width: 100%;


    height: 1.06rem;


    overflow: hidden


}





.box-con .hd {


    margin-bottom: .1rem


}





.box-con .hd p {


    font-size: .34rem;


    font-weight: 700;


    line-height: .64rem;


    color: #333


}





.hs-phone .input-area .ipt {


    box-sizing: border-box;


    font-size: .32rem;


    color: #666;


    padding: 0 .33rem;


    border: 1px solid #d9d9d9;


    border-radius: 3px;


    background-color: #fff


}





.hs-phone .btn-area {


    height: 1.06rem;


    padding-top: .26rem;


    text-align: center;


    overflow: hidden


}





.hs-phone .btn {


    line-height: 1.06rem;


    font-size: .37rem;


    color: #fff;


    background-color: #ff6d6e;


    border-radius: 3px


}





.hp-three .look-house .tr {


    float: left;


    width: 48%;


    margin-bottom: .3rem;


    margin-right: 4%


}





.hp-three .look-house .tr:nth-child(2n) {


    margin-right: 0


}





.hp-three .look-house .tr-phone {


    width: 100%;


    margin: .31rem 0 .3rem


}





.hp-three .look-house .input-area {


    position: relative


}








.hp-three .look-house .on .ico-triangle {


    transform: rotate(90deg)


}





.hp-three .look-house .input-area .ipt {


    box-sizing: border-box;


    font-size: .34rem;


    color: #999;


    width: 100%;


    height: 1.06rem;


    line-height: 1.06rem;


    padding: 0 .33rem;


    border: 1px solid #d9d9d9;


    border-radius: 3px;


    background-color: #fff;


    overflow: hidden


}





.hp-three .look-house .btn-area {


    width: 100%;


    height: 1.06rem;


    text-align: center;


    overflow: hidden


}





.hp-three .look-house .btn {


    width: 100%;


    height: 1.06rem;


    line-height: 1.06rem;


    font-size: .37rem;


    color: #fff;


    background-color: #00A0EA;


    border-radius: 3px;


    overflow: hidden


}





.hp-three .look-house .on .dropdown-list {


    display: block


}





.hp-three .dropdown-list {


    display: none;


    position: absolute;


    box-sizing: border-box;


    left: 0;


    width: 100%;


    max-height: 3rem;


    padding: 5px 0;


    background: #fff;


    border: 1px solid #d9d9d9;


    border-top: none;


    border-radius: 5px;


    z-index: 2;


    overflow-y: auto


}





.hp-three .dropdown-list li {


    color: #999;


    cursor: pointer;


    font-size: .32rem;


    height: .8rem;


    line-height: .8rem;


    padding: 0 .3rem;


    overflow: hidden


}


