@charset "utf-8";


/*页脚*/

.footer-nav{
	
	padding-bottom: 2rem;
}

.footer-nav ul{
	border-bottom: solid 1px #eeeeee;
	border-top: solid 1px #eeeeee;
	overflow: hidden;
}

.footer-nav ul li{
	float: left;
	line-height: 1.3rem;
	width: 25%;
	text-align: center;

}

.footer-nav ul li a{
	color: #999999;
	font-size: 0.5rem;
	font-weight: normal;
}

.footer-nav p{
	color: #999999;
	font-size: 0.4em;
	text-align: center;
	line-height: 40px;
	font-weight: normal;
}



.pg_hang {
    padding: 0;
    border-top: 1px solid #E1E1E1;
}
.pg_hang {
    position: fixed;
    left: 0px;
    bottom: 0px;
    background: #d22a00;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
}


			.hang_main li {
    width: 36%;
    text-align: center;
    float: left;
    height: 45px;
    line-height: 45px;

}
			/*2017.5.18*/
.pg_hang {padding:0;border-top:1px solid #E1E1E1;}
.hang_main ul {margin:0 auto;}
/*.hang_main li {width:36%;background:0;margin:0;height:45px;line-height:45px;}*/
.hang_main li:first-child {width:27%;background-color: #fff;}
.hang_main li a {font-size:0.8rem; display:block;font-size: 0.5rem !important;font-weight: normal;}
.hang_main li b.hang_main_bg3 {background:#FB8D3A;color:#fff; background:rgba(251,141,58,1) url("../images/tubiao1.png") no-repeat scroll 20% 11px / auto 45%; padding-left: 22px;font-size: 0.5rem;display: block;font-weight: normal;}
.hang_main li a.hang_main_bg2 {color:#333;background-position:8% 8px;background-size: 28%; padding-left: 25px; background: url(../images/foot-btn3.png)  no-repeat 7px 6px;background-size: 30%;}
.hang_main li a.hang_main_bg1 {color:#fff;background-position:20% 8px; background-size: 20%; padding-left: 25px;background: url(../images/foot-btn1.png)  no-repeat 20px 6px;;background-size: 23%;}
			
