
.yema{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

ul.pagination {
overflow: hidden;
   text-align: center;

   
}

ul.pagination li {background-color: #fff;width: 13.5%;text-align: center;display: inline-block;}

ul.pagination li a {
    color: black;
    display: block;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 0.4rem;
    background-color: #fff;
    padding: 8px 8px;
	font-weight: normal;
   
}

ul.pagination li a.active {
    background-color: #4292F1;
    color: white;
    border: 1px solid #4292F1;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}