@charset "utf-8";

.pg_headr{background: #4292F1;}
      .header-menu {width:44px; height:44px; position:absolute; right:0; top:3px;}
      .header-logo2 {padding:2px 0 5px 0; text-align:center; width: 150px; margin: 0 auto;}
      .header-logo2 a {display:block;}
      .header-logo2 a img {height:45px;}
      .header-back {padding:12px 0 0 10px; position:absolute; left:0; top:0;}
      


.nmenu {width:100%; height:auto; background:#ffffff; position:fixed; top:50px; left:0; z-index:99999; box-shadow:0px 2px 3px rgba(0,0,0,0.4); display:none;}
.nmenu ul {display:block; width:auto; height:auto; padding:10px 0;}
.nmenu ul li {width:25%; height:auto; float:left; text-align:center;}
.nmenu ul li a {display:block; width:auto; height:auto; padding:10px 0;}
.nmenu ul li a span {display:block; width:47px; height:40px; margin:0 auto;}
.nmenu ul li a span img {width:42px; height:41px;}
.nmenu ul li a h1 {
	font-size: 0.60rem !important;

color: #333;
width: auto;
height: auto;
padding-top: 10px;
font-weight: normal;
}