@charset "utf-8";blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{padding:0;margin:0}

body,button,input,select,textarea{font:12px Microsoft YaHei,arial,\5b8b\4f53;color:#333;background:#fff}

li,ol,ul{list-style:none}

img{vertical-align:top;border:0}

a{color:#333;text-decoration:none;cursor:pointer}

a:hover{text-decoration:underline}

table{border-collapse:collapse;border-spacing:0}

table td{padding:0;margin:0}

table th.wztop{vertical-align:top}

.clearfix:after{display:block;clear:both;height:0;overflow:hidden;visibility:hidden;content:"."}

button,input,select,textarea{outline:0}

textarea{resize:none}

.fl{float:left}

.fr{float:right}

article,aside,dialog,figure,footer,header,nav,section{display:block;padding:0;margin:0}

body,html{height:100%}

.clearfix{clear:both;display:block;font:0/0 sans-serif}

input[type=text]{line-height:normal!important}

.ico{display:inline-block;background-size:100% 100%;overflow:hidden;}

.ico-return{width:.2667rem;height:.4533rem}

.ico-home{width:.56rem;height:.4667rem;background-image:url(../image/icons/ico-home.png)}

.ico-home2{width:.4rem;height:.373rem;margin:.28rem .2rem 0 0;background-image:url(/public/static/phone/image/icons/ico-home2.png)}

.ico-call,.ico-call2{width:.4rem;height:.4rem}

.ico-call{background-image:url(../image/icons/ico-phone9.png)}

.ico-call2{margin:0 .12rem 0 0;vertical-align:text-bottom;background-image:url(/public/static/phone/image/icons/ico-call2.png)}

.ico-call3,.ico-chat{width:.8rem;height:.8rem}

.ico-call3{background-image:url(/public/static/phone/image/icons/ico-call3.png)}

.ico-chat{background-image:url(/public/static/phone/image/icons/ico-chat.png)}

.ico-close{width:.3rem;height:.3rem;background-image:url(/public/static/phone/image/icons/ico-close.png)}

.ico-yy{width:.4rem;height:.43rem;background-image:url(../image/icons/ico-online2.png)}

.ico-att{display:block;width:.42rem;height:.33rem;margin:.26rem auto 0;background-image:url(/public/static/phone/image/icons/ico-att2.png)}

.ico-down,.ico-down2{vertical-align:middle}

.ico-down{width:.26rem;height:.13rem; text-indent:-999;background-image:url(../image/icons/ico-down9.png)}

.city .ico-down{width:.26rem;height:.13rem;background-image:url(../image/icons/ico-down9.png);position:absolute;top:8px;left:12px}

.ico-down2{width:.28rem;height:.16rem;background-image:url(../image/icons/ico-down-n.png)}

.ico-star{background-image:url(/public/static/phone/image/icons/ico-star.png)}

.ico-hot{background-image:url(/public/static/phone/image/icons/ico-hot.png)}

.ico-user,.ico-user2{width:.4266rem;height:.453rem}

.ico-user{background-image:url(../image/icons/ico-user.png)}

.ico-user2{margin-top:.21rem;background-image:url(/public/static/phone/image/icons/ico-user2.png)}

.ico-more{width:.16rem;height:.293rem;background-image:url(/public/static/phone/image/icons/ico-right.png)}

.ico-find,.ico-find1,.ico-find2,.ico-find3{width:.3966rem;height:.3933rem;}   

.ico-find{vertical-align:middle;/*background-image:url(/public/static/phone/image/icons/ico-find6.png)*/}

.ico-find2{background-image:url(/public/static/phone/image/icons/ico-find2.png)}

.ico-find3{background-image:url(/public/static/phone/image/icons/ico-find9.png)}

.ico-camera{width:.43rem;height:.38rem;margin:0 auto .05rem;background-image:url(/public/static/phone/image/icons/ico-camera.png)}

.ico-better{background:url(/public/static/phone/image/icons/ico-better.png) no-repeat;background-size:100% 100%}

.user-chk-on .ico-better{background:url(/public/static/phone/image/icons/ico-better-on.png) no-repeat;background-size:100% 100%}

.ico-good{background:url(/public/static/phone/image/icons/ico-good.png) no-repeat;background-size:100% 100%}

.user-chk-on .ico-good{background:url(/public/static/phone/image/icons/ico-good-on.png) no-repeat;background-size:100% 100%}

.ico-bad{background:url(/public/static/phone/image/icons/ico-bad.png) no-repeat;background-size:100% 100%}

.user-chk-on .ico-bad{background:url(/public/static/phone/image/icons/ico-bad-on.png) no-repeat;background-size:100% 100%}

.ico-num{width:.3333rem;height:.2933rem;background-image:url(/public/static/phone/image/icons/ico-num.png)}

.ico-notice,.ico-price{width:.43rem;height:.43rem}

.ico-price{background-image:url(/public/static/phone/image/icons/ico-price.png)}

.ico-notice{background-image:url(/public/static/phone/image/icons/ico-kp.png)}

.ico-dis{width:.85rem;height:.85rem;margin:.22rem .26rem 0 0;background-image:url(/public/static/phone/image/icons/ico-yh.png)}

.map-nav li .ico{width:.95rem;height:.95rem;margin-bottom:.22rem}

.ico-edu{background-image:url(/public/static/phone/image/icons/ico-edu.png)}

.ico-traffic{background-image:url(/public/static/phone/image/icons/ico-traffic.png)}

.ico-medical{background-image:url(/public/static/phone/image/icons/ico-medical.png)}

.ico-shopping{background-image:url(/public/static/phone/image/icons/ico-shopping.png)}

.ico-shopping2{width:.36rem;height:.4rem;background-image:url(/public/static/phone/image/icons/r-shopping2.png)}

a:hover .ico-shopping2{background:url(/public/static/phone/image/icons/r-shopping.png) no-repeat;background-size:100% 100%}

.ico-medical2{width:.46rem;height:.4rem;background-image:url(/public/static/phone/image/icons/r-medical2.png)}

a:hover .ico-medical2{background:url(/public/static/phone/image/icons/r-medical.png) no-repeat;background-size:100% 100%}

.ico-traffic2{width:.5rem;height:.36rem;background-image:url(/public/static/phone/image/icons/r-traffic2.png)}

a:hover .ico-traffic2{background-image:url(/public/static/phone/image/icons/r-traffic.png)}

.ico-edu2{width:.53333rem;height:.4rem;background-image:url(/public/static/phone/image/icons/r-edu2.png)}

a:hover .ico-edu2{background-image:url(/public/static/phone/image/icons/r-edu.png)}

.ico-kan{width:.93rem;height:.93rem;background-image:url(/public/static/phone/image/icons/ico-kan.png)}

.ico-kan-juli{width:.93rem;height:.93rem;background-image:url(/public/static/phone/image/icons/ico-kan-juli.png)}

.ico-zan{width:.35rem;height:.32rem;margin-top:.15rem;background-image:url(/public/static/phone/image/icons/ico-zan1.png)}

.opt-yz .ico-zan{background-image:url(/public/static/phone/image/icons/ico-zan.png)}

.ico-zx{width:.4rem;height:.42rem;margin:.12rem .12rem 0 0;vertical-align:sub;background-image:url(/public/static/phone/image/icons/ico-zx.png)}

.ico-showmore{width:.38rem;height:.19rem;background-image:url(/public/static/phone/image/icons/ico-more-down.png)}

.ico-chk{width:.48rem;height:.48rem;margin-right:.24rem;vertical-align:top;border-radius:3px;background:url(/public/static/phone/image/icons/ico-chk.png) no-repeat;background-size:100% 100%}

.user-chk-on .ico-chk{background:url(/public/static/phone/image/icons/ico-chk-on.png) no-repeat;background-size:100% 100%}

.ico-xh{float:left;width:.2rem;height:.2rem;margin:.2rem .12rem 0 0;background:url(/public/static/phone/image/icons/ico-xh.png) no-repeat;background-size:100% 100%}

.change-down .ico-change{background:url(/public/static/phone/image/icons/ico-down.png) no-repeat;background-size:100% 100%}

.ico-change{width:.15rem;height:.3rem;margin-right:.12rem;background:url(/public/static/phone/image/icons/ico-up.png) no-repeat;background-size:100% 100%}

.ico-close2{width:.4rem;height:.4rem;background:url(/public/static/phone/image/icons/ico-close2.png) no-repeat;background-size:100% 100%}

.ico-expand{width:1.1rem;height:1.1rem;background:url(/public/static/phone/image/icons/ico-expand.png) 0 0 no-repeat;background-size:100% 100%;overflow:hidden}

.ico-reduce{width:1.1rem;height:1.1rem;background:url(/public/static/phone/image/icons/ico-reduce.png) 0 0 no-repeat;background-size:100% 100%;overflow:hidden}

.ico-list{width:2rem;height:1.1rem;background:url(/public/static/phone/image/icons/ico-list.png) 0 0 no-repeat;background-size:100% 100%;overflow:hidden}

.ico-map{width:2rem;height:1.1rem;background:url(/public/static/phone/image/icons/ico-map.png) 0 0 no-repeat;background-size:100% 100%;overflow:hidden}

.ico-dt{width:.34rem;height:.34rem;float:left;margin:.1rem .1rem 0 0;background:url(/public/static/phone/image/icons/ico-dt.png) no-repeat;background-size:100%}

.ico-price2{width:.34rem;height:.34rem;float:left;margin:.1rem .1rem 0 0;background:url(/public/static/phone/image/icons/ico-price2.png) no-repeat;background-size:100%}

.ico-special{width:.34rem;height:.34rem;float:left;margin:.1rem .1rem 0 0;background:url(/public/static/phone/image/icons/ico-special.png) no-repeat;background-size:100%}

.ico-msg{width:.66rem;height:.66rem;background:url(/public/static/phone/image/icons/icon-msg.png) no-repeat;background-size:100% 100%}

.ico-like{width:.4rem;height:.4rem;background-image:url(/public/static/phone/image/icons/ico-like.png)}

.ico-position{width:.26rem;height:.34rem;background:url(/public/static/phone/image/icons/icon_location.png) no-repeat;background-size:100% 100%}

.ico-heart{width:.53rem;height:.53rem;background:url(/public/static/phone/image/icons/ico-heart.png) no-repeat;background-size:100% 100%}

.ico-heart-on{width:.53rem;height:.53rem;background:url(/public/static/phone/image/icons/ico-heart-on.png) no-repeat;background-size:100% 100%}

.topbar{position:fixed;top:0;left:0;width:100%;height:1.3333rem;background:rgba(0,0,0,.7);z-index:20;overflow:hidden}

.topbar .fl{padding:.2rem 0 0 .48rem}

.topbar .ico-kan,.topbar .t-text{float:left;overflow:hidden}

.topbar .ico-kan{margin-right:.37rem}

.topbar-juli .ico-kan{background-image:url(/public/static/phone/image/icons/ico-kan-juli.png)}

.topbar h4{font-size:.34rem;color:#fff;height:.42rem;line-height:.42rem;overflow:hidden}

.topbar .t-text{padding-top:.13rem}

.topbar .t-text p{font-size:.26rem;color:#d1d1d1;height:.32rem;line-height:.32rem;overflow:hidden}

.topbar .app-download,.topbar .close{float:right}

.app-download{margin-right:.42rem;padding-top:.26rem}

.btn-donload{display:block;color:#fff;font-size:.37rem;text-align:center;width:2.66rem;height:.8rem;line-height:.9rem;background-color:#ff6d6f;border-radius:3px;overflow:hidden}

.topbar .close{width:.3rem;height:.3rem}

.topbar .ico-close{float:left;cursor:pointer}

.topbar .close{margin-right:.34rem;padding-top:.516rem}

.header{position:relative;height:1.17rem;line-height:1.1rem;border-bottom:1px solid #f2f2f2;overflow:hidden;background:url(/public/static/phone/image/city.jpg) no-repeat}

.header .go-back{position:absolute;left:.32rem;width:.32rem}

.header .go-back .ico-return{float:left;margin-top:.3583rem}

.u-link{position:absolute;top:0;right:.32rem}

.u-link li{float:left}

.u-link li.link-home{margin-right:.37rem}

.u-link li .ico-home{margin-top:.3516rem}

.u-link li .ico-user{margin-top:.3585rem}

.header-hide{display:none}

.a-footer-layer{position:fixed;bottom:0;width:10rem;z-index:10}

.a-footer-layer li{float:left;text-align:center;box-sizing:border-box;height:1.2rem;background:#f5f5f5;overflow:hidden}

.a-footer-layer li .ico{vertical-align:sub;margin-right:.1rem}

.a-footer-layer li.a-nav-down .ico-find2{vertical-align:top;margin:.38rem .08rem 0 0}

.a-footer-layer li a{display:block;font-size:.37rem;line-height:1.2rem}

.a-footer-layer li.a-nav-att{font-size:.24rem;text-align:center;color:#888;width:1.16rem;border-top:1px solid #deddde;border-bottom:1px solid #deddde}

.a-footer-layer li.a-nav-down{width:2.64rem;border-top:solid .5px #e5e5e5}

[data-type="1"] .a-footer-layer li.a-nav-down{border-top:solid 1px #e5e5e5}

.a-footer-layer li.a-nav-down .text{color:#666}

.a-footer-layer li.a-nav-call,.a-footer-layer li.a-nav-yy{color:#fff;width:3.68rem}

.a-footer-layer li.a-nav-yy{background:#48bf01}

.a-footer-layer li.a-nav-call,.a-footer-layer li.a-nav-call a,.a-footer-layer li.a-nav-yy,.a-footer-layer li.a-nav-yy a{color:#fff}

.a-footer-layer li.a-nav-call{background:#ff6d6f}

*{-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%}

a:link{text-decoration:none}

@media screen and (min-width:750px){.container{width:10rem;margin:0 auto}

}

.container{padding:1.3333rem 0 0 0;overflow:hidden}

.center{padding-bottom:1.15rem;overflow:hidden}

.row{clear:both;overflow:hidden}

.case .hd{margin-bottom:.54rem;padding:0 .32rem}

.case .hd h2{font-size:.48rem;height:.64rem;line-height:.64rem;overflow:hidden}

.search-wrap{padding:.26rem .32rem;background:#f2f2f2}

.search{height:.93rem;line-height:.93rem;padding-left:.37rem;padding-right:0;border-radius:2px}

.search .btn-area{position:relative;float:right;height:.53rem;padding:0 .34rem;margin:.2rem 0 0 0;border-left:solid 1px #e5e5e5;overflow:hidden}

.search .btn-search{float:left;text-indent:-9999px;width:.39rem;height:.39rem;margin-top:.07rem;padding:0;background:url(../image/icons/ico-find7.png) 0 0 no-repeat;-webkit-tap-highlight-color:transparent;background-size:100% 100%;overflow:hidden}

.search .ipt-area{float:left;/*width:7.73rem;*/margin-right:0;overflow:hidden}

.search,.search .ipt{overflow:hidden;opacity:.92;font-size:.32rem}

.search .ipt{width:100%;height:.93rem;border:none}

.index-header .city-change{text-align:center;font-size:.4rem;overflow:hidden;background:#FFF}

.city-change a{color:#333;padding-right:0;overflow:hidden}

.city-change a .text{display:inline-block}

.user{float:right;padding-top:.23rem;font-size:.24rem}

.user li{float:left}

.user li span{display:block}

.user li .text{color:#666;height:.4rem;line-height:.4rem;overflow:hidden}

.user li.record{margin-right:.26rem}

input,textarea{-webkit-appearance:none}

.btn{display:inline-block;cursor:pointer;padding:0;border:none;overflow:hidden}

.item-new{position:relative;padding:0rem 0.32rem;opacity:1;/*overflow:hidden;*/ margin-top: 0.4rem;/*height:5rem*/}

.i-item-new{border-bottom-width:.5px}

.item-new:hover{background-color:#f5f5f5}

.item-new .img-area{/*float:left;*/overflow:hidden;position: relative;}

.item-new .img-area img{width:100%;/*height:5.42rem*/}

.item-new .des{float:left;width:88.6%;background:url(../image/tm.png);position:absolute;bottom:17px;padding: 0rem 0.24rem 0.1rem 0.24rem;}

.item-new .des .tr{overflow:hidden;margin-top:.2rem}

.item-new .des .tr:last-child{margin-bottom:0}

.item-new .des h3{float:left;font-size:.4rem;color:#e8e4e4;line-height:.45rem;max-width:4rem;margin-right:.35rem;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}

.lb-area{display:inline;padding-left:.2rem;overflow:hidden}

.mod-course .lb-area{padding-left:.4rem}

.lbs{display:inline-block;width:.8rem;height:.4rem;vertical-align:middle}

.lbs-on{background:url(/public/static/phone/image/icons/ico-status-on.png) no-repeat;background-size:100% 100%}

.lbs-will{background:url(/public/static/phone/image/icons/ico-status-for.png) no-repeat;background-size:100% 100%}

.lbs-not{background:url(/public/static/phone/image/icons/ico-status-not.png) no-repeat;background-size:100% 100%}

.lbs-none{background:url(/public/static/phone/image/icons/ico-status-none.png) no-repeat;background-size:100% 100%}

.lbs-hot{width: 90px; background: url(../image/icons/ico-status-hot.png) no-repeat;background-size: 100% 100%;height: 60px;position: absolute;top: -22px;left: 5px;line-height: 70px;font-size: .4rem;text-align: center;color: #fff;}

.build-list{ /*height:7rem;*/}

.open .ico{margin-top: 5px;}

.lbs-djjx{width:2.66rem;height:.48rem;background:url(/public/static/phone/image/icons/ico-djjx.png) no-repeat;background-size:100% 100%}

.lbs-pkz{width:1.16rem;height:.42rem;background:url(/public/static/phone/image/icons/ico-pkz.png) no-repeat;background-size:100% 100%}

.item-new .place{float:left;height:.45rem;line-height:.45rem;font-size:.4rem;color:#e8e4e4;max-width:9rem;overflow:hidden}

.item-new .price{float:right;height:.45rem;line-height:.45rem;font-size:.34rem;color:#e8e4e4;overflow:hidden;font-weight:700; text-align:center;}

.item-new .tag{float:left;margin-right:.12rem;width:1.28rem;height:.34rem;overflow:hidden;text-indent:-9999px}

.item-new .tag-review{background:url(/public/static/phone/image/icons/ico-zydp.png);background-size:100% 100%}

.item-new .tag-hot{background:url(/public/static/phone/image/icons/ico-kfh.png);background-size:100% 100%}

.item-new .des .text{float:left;font-size:.29rem;height:.35rem;line-height:.38rem;color:#e8e4e4;max-width:4.2rem;overflow:hidden}

.item-new .des .text-dy{max-width:6rem;white-space:nowrap;text-overflow:ellipsis}

.case-groom .hd{margin-bottom:.6rem}

.case-groom .more{text-align:center;height:1.41rem;line-height:1.41rem;font-size:.34rem;color:#e8e4e4;overflow:hidden}

.case-groom .more a{display:block;width:100%;height:100%;border-top: 0.5px solid rgb(229, 229, 229);}

.case-groom .more a:hover{color:#000}

.p404{padding-top:2.5rem}

.p404 .tips-pic{width:4.52rem;height:4.1rem;margin:0 auto .73rem;background:url(/public/static/phone/image/icons/bg-404.png) 0 0 no-repeat;background-size:100%;overflow:hidden}

.p404 .result-tips{margin-bottom:3rem}

.p404 .result-tips p{font-size:.35rem;text-align:center}

.p404 .btn-area{clear:both;width:8.9rem;margin:0 auto;overflow:hidden}

.p404 .btn-area .btn,.p404 .btn-area .ico{float:left}

.p404 .btn{box-sizing:border-box;font-size:.3733rem;color:#fff;width:4.26rem;height:.9333rem;line-height:.9333rem;background-color:#48b3e2;border-radius:2px;overflow:hidden}

.p404 .btn-area .btn-call{float:left;padding-left:1.1rem}

.p404 .btn-area .btn-home{float:right;padding-left:1rem;background-color:#ff6d6f}

.p404 .btn-area .ico-call{margin:.266rem .2rem 0 0}

.p404 .btn-area .ico-home{margin:.28rem .2rem 0 0}

.site-error{text-align:center;font-size:14px;line-height:28px;margin:0 auto;padding-top:240px;background:url(/public/static/phone/image/icons/bg_404.png) center 30px no-repeat}

.site-error .fcB{font-size:20px;font-weight:400;color:#0074c1}

.site-error a{color:#0074c1}

.seen-page .house-item{padding:1.5rem}

.layer{position:relative;margin:0 auto;padding:.8rem 1rem}

.layui-layer .layui-layer-setwin,.layui-layer .layui-layer-setwin .layui-layer-close2{display:none}

.layer .close{position:absolute;top:0;right:0}

.close{width:.8rem;height:.8rem;overflow:hidden}

.close a{display:block;text-indent:-9999px;width:100%;height:100%;background-size:100% 100%;overflow:hidden}

.layui-layer{margin-top:-100px}

.layer-wrap{color:#575757;font-size:.187rem;padding:.5rem 0;background:#fff;border-radius:.267rem}

.layer .layer-tips-info{text-align:center;font-size:.4rem;padding:.267rem .2rem .6rem}

.layer-tips-info.tip-img{text-align:center;padding:0}

.layer .btn-area{text-align:center}

.layer .btn-area .btn{font-size:.4rem;height:.8rem;line-height:.8rem;padding:0 .5rem;margin:0 .133rem;border:1px solid #575757;border-radius:.3rem}

.special-msg{height:.53rem;line-height:.56rem;padding:0 .12rem;margin-top:.2rem;font-size:.29rem;background-color:#f2f2f2;overflow:hidden}

.special-msg .special-title{float:left;color:#48b3e2;margin-right:.12rem}

.special-msg .special-title img{width:.34rem;height:.34rem;margin-top:.1rem}

.special-msg .special-content{float:left;max-width:5rem;color:#666;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}

.special-msg .special-time{float:right;color:#999}

.custom-msg .special-title{width:7rem;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}

.banner img{width:100%;height:2.69rem}

.no-result{padding:1.066rem 0 .667rem}

.no-result .tips-pic{width:3.76rem;height:4rem;margin:0 auto .667rem;background:url(/public/static/phone/image/icons/bg-norst.png) 0 0 no-repeat;background-size:100% 100%;overflow:hidden}

.result-tips p{font-size:.345rem;text-align:center;height:.667rem;line-height:.667rem;overflow:hidden}

.prop-msg{position:fixed;display:none;width:5.34rem;height:2.67rem;margin:-1.335rem 0 0 -2.67rem;top:50%;left:50%;border-radius:3px;background:rgba(0,0,0,.8)}

.prop-msg .msg-content{width:100%;height:100%;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}

.prop-msg .ico{margin-right:.4rem}

.prop-msg .text{width:3.06rem;font-size:.37rem;color:#fff;text-align:left}

.loading-waiting{text-align:center;padding:.2rem 0;overflow:hidden}

.loading-waiting img{width:3.72rem;height:.54rem;overflow:hidden}

.layer-new{position:relative;width:8.4rem;margin:.8rem auto 0;background:#fff;border-radius:4px;text-align:center;padding:.53rem 0 .26rem 0;z-index:1001}

.layer-new h1{font-size:.58rem;font-weight:700;margin-bottom:.26rem}

.layer-new p{font-size:.42rem;color:#666;margin-bottom:.4rem}

.layer-new .layer-service{width:7.73rem;height:1.33rem;margin:0 auto .26rem}

.layer-new .layer-phone{width:4.8rem;height:7.13rem;margin:0 auto;overflow:hidden}

.layer-new .layer-phone img,.layer-new .layer-service img{width:100%;height:100%}

.layer-new .btn-area{padding-top:.3rem;border-top:1px solid #e2e2e2}

.layer-new .btn-area .btn{display:block;color:#fff;font-size:.42rem;text-align:center;width:7.33rem;height:1.17rem;line-height:1.17rem;margin:0 auto;border-radius:2px;background:#48b3e2}

.close-layer{position:absolute;top:-1rem;right:0}

.close-layer a{display:block;width:.8rem;height:.8rem;background:url(/public/static/phone/image/icons/ico-close-layer.png) no-repeat;background-size:100% 100%;text-indent:-9999px}

.close-layer .line{width:2px;background:#fff;color:#fff;height:.5rem;margin:-.2rem 0 0 .38rem}

.layer-operation{position:relative;width:8.4rem;margin:0 auto;background:#fff;border-radius:4px;text-align:center;padding-top:.66rem;overflow:hidden}

.layer-operation h1{font-size:.48rem;color:#333;font-weight:700;margin-bottom:.26rem}

.layer-operation p{font-size:.32rem;color:#999;margin-bottom:.4rem}

.layer-operation .input-area{width:6.66rem;margin:0 auto .4rem;overflow:hidden}

.layer-operation .input-area li{position:relative;height:1.17rem;font-size:.37rem;color:#999;padding-left:.26rem;border:solid 1px #d8d8d8}

.layer-operation .input-area li input{width:100%;height:100%;border:none;font-size:.37rem}

.layer-operation .input-area li .code{position:absolute;top:.17rem;right:.17rem;height:.82rem;line-height:.82rem;color:#48b3e2;padding:0 .16rem;background:rgba(72,179,226,.2);border:solid 1px #48b3e2;border-radius:1px}

.layer-operation .input-area li:first-child{border-bottom:0;border-radius:2px 2px 0 0}

.layer-operation .input-area li:last-child{border-radius:0 0 2px 2px}

.layer-operation .btn-area{overflow:hidden}

.layer-operation .btn{float:left;width:50%;height:1.33rem;line-height:1.33rem;font-size:.42rem;color:#999;text-align:center;border-top:solid 1px #d8d8d8;box-sizing:border-box}

.layer-operation .btn-submit{background:#48b3e2;color:#fff}

.layer-message{position:relative;width:8.4rem;margin:0 auto;background:#fff;border-radius:4px;text-align:center}

.layer-message .layer-content{width:6rem;margin:0 auto;padding:.93rem 0}

.layer-message .layer-content p{font-size:.4rem;color:#666;line-height:.66rem}

.layer-message .btn-area{overflow:hidden}

.layer-message .btn{float:left;width:50%;height:1.33rem;line-height:1.33rem;font-size:.42rem;color:#999;text-align:center;border-top:solid 1px #d8d8d8;box-sizing:border-box}

.layer-message .btn-submit{color:#48b3e2;border-left:solid 1px #e2e2e2}

.layui-layer .layui-layer-setwin,.layui-layer .layui-layer-setwin .layui-layer-close2{display:none}

.ly-fade{display:none;position:fixed;top:0;width:100%;height:100%;background:rgba(0,0,0,.8);z-index:100}

.ly-fade-show{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}

.panorama{width:10rem;height:13.2rem}

*{margin:0;padding:0}

li,ol,ul{list-style:none}

.dialog3{position:relative;box-sizing:border-box;width:8rem;margin:0 auto;padding:.53rem;border-radius:5px;background:#fff}

.layui-layer{border-radius:5px!important}

.dialog3 .dialog-body .app-tips{text-align:center}

.dialog3 .dialog-body .app-tips .ico-success{display:inline-block;width:1.34rem;height:1.34rem;background:url(/public/static/phone/image/icons/ico-success.png) no-repeat;background-size:100% 100%;margin-bottom:.2rem}

.dialog3 .dialog-body .app-tips .title{font-size:.48rem;color:#6ad1b4;margin-bottom:.18rem}

.dialog3 .dialog-body .app-tips .msg{width:5.6rem;line-height:.56rem;font-size:.37rem;color:#666;margin:0 auto .48rem}

.dialog3 .look-house{margin-bottom:.45rem}

.dialog3 .look-house .look-house-msg{font-size:.32rem;color:#888;margin-bottom:.26rem}

.dialog3 .look-house .tr{margin-bottom:.26rem}

.dialog3 .look-house .tr.on .ico-triangle{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg)}

.dialog3 .look-house .input-area{position:relative}

.dialog3 .look-house .input-area .ipt{box-sizing:border-box;width:100%;height:1.06rem;line-height:1.06rem;padding:0 .36rem;font-size:.34rem;color:#bbb;text-align:left;border:1px solid #e6e6e6;border-radius:3px;background-color:#f3f3f3;overflow:hidden;cursor:pointer}

.dialog3 .look-house .input-area .ico-triangle{display:inline-block;position:absolute;right:.4rem;top:.48rem;width:.34rem;height:.17rem;background:url(/public/static/phone/image/icons/ico-more-down9.png) no-repeat;background-size:100% 100%}

.dialog3 .look-house .dropdown-list{display:none;position:absolute;left:0;right:0;max-height:3.46rem;font-size:.34rem;color:#666;margin-top:1px;padding-top:.2rem;border:solid 1px #e6e6e6;border-radius:3px;background-color:#f3f3f3;overflow-y:scroll;z-index:10}

.dialog3 .look-house .dropdown-list li{height:.64rem;line-height:.64rem}

.dialog3 .dialog-btn-commit{width:4rem;height:1.06rem;line-height:1rem;font-size:.45rem;color:#fff;border:none;border-radius:1rem;background-color:#0099d9;cursor:pointer}

.dialog3 .download-app{text-align:center;padding:.4rem 0 .53rem 0;border:solid 1px #e6e6e6}

.dialog3 .download-app .download-msg{font-size:.32rem;color:#888;margin-bottom:.32rem}

.dialog3 .download-app .download-img{display:block;width:6.29rem;height:1.48rem;margin:0 auto .52rem}

.dialog3 .download-app .ico-download-app{float:left;margin:.24rem .21rem 0 .71rem;width:.42rem;height:.45rem;background:url(/public/static/phone/image/icons/ico-download-app9.png) no-repeat;background-size:100% 100%}

.dialog3 .download-app .txt{float:left}

.dialog3 .close-dialog{position:absolute;top:-1rem;right:2px}

.dialog3 .close-dialog a{display:block;width:.53rem;height:.53rem;background:url(/public/static/phone/image/icons/ico-close-layer2.png) no-repeat;background-size:100% 100%}

.dialog3 .close-dialog .line{width:2px;background:#fff;color:#fff;height:.5rem;margin:0 0 0 .24rem}

.layui-layer-page .layui-layer-content{overflow:inherit!important}

